# SEMANA 06
Sebastian Timo Laura Antezana

1. Colecciones de datos

In [2]:
#1.1. Listas
# Es una colección de elementos que pueden ser ordenados, modificados, etc...
# Se identifica por los corchetes que muestra la lista
# Ejemplo:
aula = ['Yauricasa','Granados','Alva','Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [3]:
aula

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [6]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Yauricasa
Granados

In [7]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [8]:
# Mostramos como quedó la lista
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [9]:
#Para agregar un elemento utilizamos
aula.append("Huaman")
aula.append('Huancas')

In [10]:
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas']

In [11]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Yauricasa")

In [12]:
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas']

In [13]:
aula.append('Chavez')

In [14]:
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [15]:
#Si hubiera varios valores iguales se elimina la primera coincidencia
aula.remove("Chavez")
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [16]:
# Para obtener el tamaño utilizamos Len()
len(aula)

5

In [19]:
aula.append('Prada')
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez', 'Prada']

In [20]:
aula.remove(aula[5])
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [21]:
#Esta otra funcion elimina directamente con el indice
aula.pop(2)
aula

['Alva', 'Laura', 'Huancas', 'Chavez']

In [22]:
#Elimina solo la ultima posicion
aula.pop()
aula

['Alva', 'Laura', 'Huancas']

In [23]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huancas

In [24]:
aula.append("Vilca")
aula.append("Gavino")
aula

['Alva', 'Laura', 'Huancas', 'Vilca', 'Gavino']

In [25]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huancas
Vilca
Gavino

In [26]:
# Para invertir la lista utilizamos reverse()
# Invertir NO SIGNIFICA ordernar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gavino', 'Vilca', 'Huancas', 'Laura', 'Alva']

In [27]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Alva', 'Gavino', 'Huancas', 'Laura', 'Vilca']

In [28]:
# 1.2 Tuplas
# Es una colección de elementos ordenada(ordenado siginfica que tiene indice) 
# que no se puede modificar, ES INALTERABLE
# No se pueden agregar elementos ni eliminar.
# Las tuplas se identifican por los parentesis

tupla_aula = ("Granados", "Julca", "Cusi", "Marcos")
tupla_aula

('Granados', 'Julca', 'Cusi', 'Marcos')

In [29]:
#Se puede recorrer con una estructura repetitiva
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [30]:
#Se puede extraer un elemento por su posición
tupla_aula[2]

'Cusi'

In [31]:
len(tupla_aula)

4

In [32]:
# 1.3 Conjuntos
#Es una colección de elementos que no esta ordenado(significa que ni tiene indice)
conjunto_aula = {"Granados", "Julca", "Cusi", "Marcos"}
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos'}

In [33]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Julca
Marcos
Cusi
Granados

In [34]:
# Observacion: No se pued eacceder por posicion porque no considera indexacion
# Ejemplo:
#conjunto_aula[2] devolvera un mensaje de error

In [35]:
len(conjunto_aula)

4

In [36]:
#Para agregar utilizamos la función add()
conjunto_aula.add("Motta")
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos', 'Motta'}

In [37]:
conjunto_aula.remove("Granados")
conjunto_aula

{'Cusi', 'Julca', 'Marcos', 'Motta'}

In [38]:
# 1.4 Diccionarios
# Es una colección de elementos, que están indexados, no estan ordenados y se pueden modificar
#Son escritos entre llaves y estan formados por pares de elementos INDICE:VALOR
diccionario_aula = {2:"Cusi", "1":"Julca", "dos":"Marcos", "0":"Motta"}

In [39]:
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta'}

In [40]:
#Del diccionario: diccionario_aula extraer el valor cuyo indice sea cero en String 
diccionario_aula["0"]

'Motta'

In [42]:
diccionario_aula[2]

'Cusi'

In [43]:
diccionario_aula["dos"]

'Marcos'

In [44]:
diccionario_aula["20"]="Serna"
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [45]:
# Para eliminar un valor se utiliza pop()
# Ejemplo: eliminar el elemento de índice dos
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [46]:
#También se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Julca', '0': 'Motta', '20': 'Serna'}

In [47]:
#Para recorrer todosl os elementos utlizamos for
#Ejemplo: devuelve indices
for indice in diccionario_aula:
    print(indice)

1
0
20

In [48]:
#Para obtener el indice y el valor de cada elemento utlizamos items()
for indice, valor in diccionario_aula.items():
    print(indice,valor)

1 Julca
0 Motta
20 Serna

In [55]:
#1.5 Ejercicio:
#Dado una lista del salon
#Diseñar un código que muestre si el apellido de un estudiante(ingreso por teclado forma parte de la lista)
aula1 = ["ALANYA", "ALVA", "AZAÑERO", "CARRASCO", "CCACCYA", "COSME", "CUSI", "DIAZ", "FLORES", "GOMEZ", "GOMEZ", "GRANADOS", "HUANCAS", "JULCA", "LAURA", "MOTTA", "PINEDO", "PONCE", "QUINTANA", "RODRIGUEZ", "SERNA", "VILCA", "YAURICASA"]
print(aula1)

['ALANYA', 'ALVA', 'AZAÑERO', 'CARRASCO', 'CCACCYA', 'COSME', 'CUSI', 'DIAZ', 'FLORES', 'GOMEZ', 'GOMEZ', 'GRANADOS', 'HUANCAS', 'JULCA', 'LAURA', 'MOTTA', 'PINEDO', 'PONCE', 'QUINTANA', 'RODRIGUEZ', 'SERNA', 'VILCA', 'YAURICASA']

In [68]:
print("¿Cuál es tu nombre?")
nombre = input() 
   
    
print("El almumno esta en el aula?: ")
nombre in aula1

¿Cuál es tu nombre?
ALVA
El almumno esta en el aula?:

True